body {
	text-align: center;
	font-size: 62.5%;
}
a {
	display: inline-block;
	padding: 0 20px;
	text-decoration: none;
	font-size: 2em;
}

.link-container {
	display: inline-block;
}
.account-container {
	width: 400px;
	margin-left: -200px;
	text-align: center;
}

.input-container,
.account-container {
	position: absolute;
	top: 20%;
	left: 50%;
}

.input-container > *{
	box-sizing: border-box;
	padding: 0;
	display: block;
	margin-bottom: 10px;
	width: 200px;
	font-size: 2em;
	text-align: center;
	margin-left: -100px;
}
.input-container > button {
	font-size: 2em;
}
.input-container > input:nth-last-child(3) {
	margin-bottom: 20px;
}